@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #000;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #CC651F;
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 280px;
    width: 100%;
    padding: 2rem 9%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
nav{
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    background:var(--main-color);
    width:80px;
    overflow:hidden;
    transition:width 0.2s linear;
    box-shadow:0 20px 35px rgba(0,0,0,0.1);
}

.logo{
    text-align:left;
    display:flex;
    transition:all 0.5s ease;
    margin:10px 0 0 10px;
}

.logo span{
    font-weight:bold;
    
    font-size:18px;
    text-transform:uppercase;
}

a{
    position:relative;
    color:var(--text-color);
    font-size:14px;
    display:table;
    width:300px;
    padding:10px;
}

.icon{
    position:relative;
    width:70px;
    height:40px;
    top:14px;
    font-size:20px;
    text-align:center;
    margin-left:20px;
}

.nav-item{
    position:relative;
    top:12px;
    margin-left:50px;
}

a:hover{
    background:var(--bg-color);

}
nav:hover{
    width:280px;
    transition:all 0.5s ease;
    
}

.logout{
    position:absolute;
    bottom:5%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-content p {
    font-size: 1.6rem;
}

 .home-content .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

    .btn:hover {
        box-shadow: none;
        border: 0.2rem solid var(--main-color);
    }

.footer {
    position:absolute;
    top:100%;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

    .footer p {
        font-size: 1.6rem;
    }

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

    .footer-iconTop a:hover {
        box-shadow: 0 0 1rem var(--main-color);
    }

    .footer-iconTop a i {
        font-size: 2.4rem;
        color: var(--second-bg-color);
    }

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 540px;
   
   background:transparent;
    top: 130px;
    left: 40%;
}

.wrapper .adm-contain{
    width:100%;
    padding:30px;
}

