@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #000;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #CC651F;
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

 

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navigation{
    right:300px;
}

.navigation a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: 0.3s;
}

    .navigation a:hover,
    .navigation a.active {
        color: var(--main-color);
    }

.nav2 {
    transition: width 0.2s linear;
}
.navigation .nav2:hover {
    width: 280px;
    transition: all 0.5s ease;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.logout {
    position: relative;
    height: 30px;
    top: 80px;
    width: 100%;
    background-color: #CC651F;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
   
}


.home-content h3 {
    font-size: 3.2rem;
    font-weight: 600;
}

    .home-content h3:nth-of-type(2) {
        margin-bottom: 2rem;
    }

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}

    .socials a:hover {
        background: var(--main-color);
        color: var(--text-color);
        box-shadow: 0 0 1rem var(--main-color);
    }

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    margin-top: 0;
}

    .btn:hover {
        box-shadow: none;
    }

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.events h2 {
    margin-bottom: 5rem;
}

.events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

    .events-container .events-box {
        flex: 1 1 30rem;
        background: var(--second-bg-color);
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
        text-align: center;
        border: 0.2rem solid var(--bg-color);
        transition: 0.5s ease;
    }

        .events-container .events-box:hover {
            border-color: var(--main-color);
            transform: scale(1.09);
        }

.events-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.events-box h3 {
    font-size: 2.6rem;
}

.events-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.products {
    background: var(--second-bg-color);
}

    .products h2 {
        margin-bottom: 4rem;
    }

.products-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.products-box {
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem var(--bg-color);
        overflow: hidden;
        display: flex;
        width: 500px;
        height: 500px;
    }

.products-box img {
    width: 500px;
    height:auto;
    object-fit:contain;
    transition: 0.5s ease;
}

.products-box:hover img {
    transform: scale(1.1);
}

.products-box .products-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.products-box:hover .products-layer {
    transform: translateY(0);
}

.products-layer h4 {
    font-size: 3rem;
}

.products-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.products-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

    .products-layer a i {
        font-size: 2rem;
        color: var(--second-bg-color);
    }

.contact h2 {
    margin-bottom: 3rem;
}

.contact .form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

    .contact .form .input-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .contact .form .input-box input,
        .contact .form textarea {
            width: 100%;
            padding: 1.5rem;
            font-size: 1.6rem;
            color: var(--text-color);
            background: var(--second-bg-color);
            border-radius: 0.8rem;
            margin: 0.7rem 0;
        }

        .contact .form .input-box input {
            width: 49%;
        }

    .contact .form textarea {
        resize: none;
    }

    .contact .form .btn {
        margin-top: 2rem;
        cursor: pointer;
    }

    .contact .input-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

.footer {
    
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

    .footer p {
        font-size: 1.6rem;
    }

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

    .footer-iconTop a:hover {
        box-shadow: 0 0 1rem var(--main-color);
    }

    .footer-iconTop a i {
        font-size: 2.4rem;
        color: var(--second-bg-color);
    }

/* BREAKPOINT*/

@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .events {
        padding-bottom: 7rem;
    }

    .products {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:768px) {
    #menu-icon {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0,0,0,0.2);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
        display: none;
    }

        .navigation.active {
            display: block;
        }


        .navigation a {
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
        }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

        .about img {
            width: 70vw;
            margin-top: 4rem;
        }

    .events h2 {
        margin-bottom: 3rem;
    }

    .products h2 {
        margin-bottom: 3rem;
    }

    .products-container {
        grid-template-columns: repeat(2,1fr);
    }

    @media (max-width: 617px) {
        .products-container {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 450px) {
        html {
            font-size: 50%;
        }

        .contact form .input-box input {
            width: 100%;
        }
    }

    @media (max-width: 365px) {
        .home-img img {
            width: 90vw;
        }

        .about-img img {
            width: 90vw;
        }

        .footer {
            flex-direction: column-reverse;
        }

            .footer p {
                text-align: center;
                margin-top: 2rem;
            }
    }
}



.wrapper {
    position: relative;
    width: 400px;
    height: 540px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 20px;
   
    box-shadow: 0 0 30px var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 130px;
    left:40%;
    right:40%;
}

    .wrapper .form-box {
        width: 100%;
        padding: 40px;
    }

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--main-color);
    margin: 30px 0;
}

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: #fff;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
        top: -5px;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        font-size: 1em;
        color: #fff;
        font-weight: 600;
        padding: 0 35px 0 5px;
    }

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box .icon {
    position: absolute;
    right: -18px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 400;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

    .remember-forgot label input {
        accent-color: var(--main-color);
        margin-right: 3px;
    }

    .remember-forgot a {
        color: #fff;
        text-decoration: none;
    }

        .remember-forgot a:hover {
            text-decoration: underline;
        }

#btn1, #btn2 {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

    .login-register p a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }

        .login-register p a:hover {
            text-decoration: underline;
        }

.prod h2 {
    margin-bottom: 5rem;
}

.prod-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

    .prod-container .prod-box {
        flex: 1 1 30rem;
        background: var(--second-bg-color);
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
        text-align: center;
        border: 0.2rem solid var(--bg-color);
        transition: 0.5s ease;
    }

        .prod-container .prod-box:hover {
            border-color: var(--main-color);
            transform: scale(1.09);
        }

.prod-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.prod-box h3 {
    font-size: 2.6rem;
}

.prod-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.foot {
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
   
}

    .foot div {
        text-align: center;
    }

        .foot div h3 {
            font-weight: 200;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }

.col-1 a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    margin-bottom: 10px;
}

.input-box button {
    background: transparent;
    border: 2px solid var(--main-color);
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icons {
    margin-top: 30px;
}

    .social-icons ion-icon {
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
